# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore operating system files
.DS_Store
Thumbs.db
#important files
configManager.js
encrypt.js