/* Layout.css */

/* Colors */
:root {
    --primary-color: #2A3D4E; /* Dark Blue */
    --secondary-color: #24AD5D; /* Green */
    --light-color: #F8F9FA; /* Light White */
  }
  
  /* Layout Styles */
.navTop{
     background-color: var(--primary-color) !important;
     position: fixed;
     z-index: 5;
  }
  
  .bg-sidebar {
    background-color: var(--light-color) !important;
  }
  
  .text-light {
    color: var(--light-color) !important;
  }
  
  .sidebar {
    min-height: 100vh;
    top: 60px; /* Adjust based on the height of your top bar */
    bottom: 0;
    transition: all 0.3s;
  }
  
  .sidebar-content .nav-link {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.75rem 3rem; /* px-5 py-3 */
    margin: 0.5rem 0;
    border-radius: 0.25rem;
  }
  
  .sidebar-content .nav-link:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
  }
  
  .sidebar-content .nav-link.active {
    background-color: var(--primary-color);
    color: var(--light-color);

  }
  
  .butoni {
    background-color: var(--light-color) !important;
    color: var(--primary-color);
    border: none;
  }
  
  .butoni:hover {
    background-color: var(--secondary-color) !important;
    color: var(--light-color) !important;
  }
  
  .current-url {
    margin-top: auto;
  }
  
  .container-fluid {
    padding: 0;
  }
  